{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "*.json",
        ".eslintrc",
        ".prettierrc"
      ],
      "options": {
        "parser": "json",
        "tabWidth": 4
      }
    },
    {
      "files": [
        "src/data/**/*.ts"
      ],
      "options": {
        "singleQuote": false,
        "quoteProps": "consistent",
        "tabWidth": 4,
        "printWidth": 100,
        "trailingComma": "none",
        "bracketSpacing": true,
        "semi": true,
        "arrowParens": "always"
      }
    }
  ]
}
